In [1]:
import pandas as pd
from nltk.corpus import stopwords
import nltk
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import re
import numpy as np

In [2]:
df1 = pd.read_csv('DDW_B18_0800_NIC_FINAL_STATE_RAJASTHAN-2011.csv',encoding='ISO-8859-1')
df2 = pd.read_csv('DDW_B18_1200_NIC_FINAL_STATE_ARUNACHAL_PRADESH-2011.csv',encoding='ISO-8859-1')
df3 = pd.read_csv('DDW_B18_1400_NIC_FINAL_STATE_MANIPUR-2011.csv',encoding='ISO-8859-1')
df4 = pd.read_csv('DDW_B18_1500_NIC_FINAL_STATE_MIZORAM-2011.csv',encoding='ISO-8859-1')
df5 = pd.read_csv('DDW_B18_1900_NIC_FINAL_STATE_WEST_BENGAL-2011.csv',encoding='ISO-8859-1')
df6 = pd.read_csv('DDW_B18sc_0700_NIC_FINAL_STATE_NCT_OF_DELHI-2011.csv',encoding='ISO-8859-1')
df7 = pd.read_csv('DDW_B18sc_1600_NIC_FINAL_STATE_TRIPURA-2011.csv',encoding='ISO-8859-1')
df8 = pd.read_csv('DDW_B18sc_2000_NIC_FINAL_STATE_JHARKHAND-2011.csv',encoding='ISO-8859-1')
df9 = pd.read_csv('DDW_B18sc_2400_NIC_FINAL_STATE_GUJARAT-2011.csv',encoding='ISO-8859-1')
df10 = pd.read_csv('DDW_B18sc_2700_NIC_FINAL_STATE_MAHARASHTRA-2011.csv',encoding='ISO-8859-1')
df11 = pd.read_csv('DDW_B18sc_2900_NIC_FINAL_STATE_KARNATAKA-2011.csv',encoding='ISO-8859-1')
df12 = pd.read_csv('DDW_B18sc_3000_NIC_FINAL_STATE_GOA-2011.csv',encoding='ISO-8859-1')
df13 = pd.read_csv('DDW_B18sc_3200_NIC_FINAL_STATE_KERALA-2011.csv',encoding='ISO-8859-1')
df14 = pd.read_csv('DDW_B18sc_3300_NIC_FINAL_STATE_TAMIL_NADU-2011.csv',encoding='ISO-8859-1')
df15 = pd.read_csv('DDW_B18sc_3400_NIC_FINAL_STATE_PUDUCHERRY-2011.csv',encoding='ISO-8859-1')
df16 = pd.read_csv('DDW_B18st_0200_NIC_FINAL_STATE_HIMACHAL_PRADESH-2011.csv',encoding='ISO-8859-1')
df17 = pd.read_csv('DDW_B18st_0500_NIC_FINAL_STATE_UTTARAKHAND-2011.csv',encoding='ISO-8859-1')
df18 = pd.read_csv('DDW_B18st_0900_NIC_FINAL_STATE_UTTAR_PRADESH-2011.csv',encoding='ISO-8859-1')
df19 = pd.read_csv('DDW_B18st_1000_NIC_FINAL_STATE_BIHAR-2011.csv',encoding='ISO-8859-1')
df20 = pd.read_csv('DDW_B18st_1100_NIC_FINAL_STATE_SIKKIM-2011.csv',encoding='ISO-8859-1')
df21 = pd.read_csv('DDW_B18st_1300_NIC_FINAL_STATE_NAGALAND-2011.csv',encoding='ISO-8859-1')
df22 = pd.read_csv('DDW_B18st_1800_NIC_FINAL_STATE_ASSAM-2011.csv',encoding='ISO-8859-1')
df23 = pd.read_csv('DDW_B18st_2100_NIC_FINAL_STATE_ODISHA-2011.csv',encoding='ISO-8859-1')

In [3]:
df1.head()

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,`08,`000,STATE - RAJASTHAN,`00,`000,`0000,Total,9017944,7594737,1423207,...,618445,2307752,1046813,1260939,1825830,749381,1076449,481922,297432,184490
1,`08,`000,STATE - RAJASTHAN,`01,`000,`0000,"Crop and animal production, hunting and relate...",450766,201572,249194,...,19810,408728,76106,332622,390864,71124,319740,17864,4982,12882
2,`08,`000,STATE - RAJASTHAN,`01,`011,`0000,Growing of non-perennial crops,12876,10547,2329,...,1013,9562,4051,5511,8147,3295,4852,1415,756,659
3,`08,`000,STATE - RAJASTHAN,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",12061,9911,2150,...,942,9085,3883,5202,7777,3161,4616,1308,722,586
4,`08,`000,STATE - RAJASTHAN,`01,`011,`0112,Growing of rice,79,71,8,...,2,13,4,9,11,2,9,2,2,0

In [4]:
#All dataset into single dataset
mergedData = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df16,df17,df18,df19,df20,df21,df22,df23])

In [5]:
#checking  null values
mergedData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199189 entries, 0 to 12046
Data columns (total 25 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   State Code                           199189 non-null  object
 1   District Code                        199189 non-null  object
 2   India/States                         199189 non-null  object
 3   Division                             199189 non-null  object
 4   Group                                199189 non-null  object
 5   Class                                199189 non-null  object
 6   NIC Name                             199189 non-null  object
 7   Main Workers - Total -  Persons      199189 non-null  int64
 8   Main Workers - Total - Males         199189 non-null  int64
 9   Main Workers - Total - Females       199189 non-null  int64
 10  Main Workers - Rural -  Persons      199189 non-null  int64
 11  Main Workers - Rural - Males         199189 non-null  int64
 12  Main Workers - Rural - Females       199189 non-null  int64
 13  Main Workers - Urban -  Persons      199189 non-null  int64
 14  Main Workers - Urban - Males         199189 non-null  int64
 15  Main Workers - Urban - Females       199189 non-null  int64
 16  Marginal Workers - Total -  Persons  199189 non-null  int64
 17  Marginal Workers - Total - Males     199189 non-null  int64
 18  Marginal Workers - Total - Females   199189 non-null  int64
 19  Marginal Workers - Rural -  Persons  199189 non-null  int64
 20  Marginal Workers - Rural - Males     199189 non-null  int64
 21  Marginal Workers - Rural - Females   199189 non-null  int64
 22  Marginal Workers - Urban -  Persons  199189 non-null  int64
 23  Marginal Workers - Urban - Males     199189 non-null  int64
 24  Marginal Workers - Urban - Females   199189 non-null  int64
dtypes: int64(18), object(7)
memory usage: 39.5+ MB

In [6]:
# Rename columns to clean names
mergedData.columns = mergedData.columns.str.strip()               # Remove leading/trailing spaces
mergedData.columns = mergedData.columns.str.replace(' ', '_')     # Replace spaces with underscores
mergedData.columns = mergedData.columns.str.replace('-', '_')     # Replace dashes with underscores
mergedData.columns = mergedData.columns.str.replace('/', '_')     # Replace slashes with underscores
mergedData.columns = mergedData.columns.str.replace('`', '')      # Remove backticks
mergedData.rename(columns={'India_States':'States'},inplace=True) # Rename column name India/States to States

In [7]:
# List of columns to clean
columns_to_clean = ['State_Code', 'District_Code', 'Division', 'Group', 'Class']

# Remove backticks (`) from the specified columns
for col in columns_to_clean:
    mergedData[col] = mergedData[col].astype(str).str.replace('`', '', regex=False)

In [8]:
#feature engineer

#Add columns for Total Workers (Main + Marginal) at different levels
mergedData['Total_Workers_Total_Persons'] = mergedData['Main_Workers___Total____Persons'] + mergedData['Marginal_Workers___Total____Persons']

#calculating gender wise total workers
mergedData['Total_Workers_Rural_Males'] = mergedData['Main_Workers___Rural___Males'] + mergedData['Marginal_Workers___Rural___Males']
mergedData['Total_Workers_Rural_Females'] = mergedData['Main_Workers___Rural___Females'] + mergedData['Marginal_Workers___Rural___Females']
mergedData['Total_Workers_Urban_Males'] = mergedData['Main_Workers___Urban___Males'] + mergedData['Marginal_Workers___Urban___Males']
mergedData['Total_Workers_Urban_Females'] = mergedData['Main_Workers___Urban___Females'] + mergedData['Marginal_Workers___Urban___Females']
mergedData['Total_Workers_Total_Males'] = mergedData['Total_Workers_Rural_Males'] + mergedData['Total_Workers_Urban_Males']
mergedData['Total_Workers_Total_Females'] = mergedData['Total_Workers_Rural_Females'] + mergedData['Total_Workers_Urban_Females']
mergedData['Total_Workers'] = mergedData['Total_Workers_Total_Males'] + mergedData['Total_Workers_Total_Females']

#Radio 
mergedData['Total_Urban_Workers'] = (mergedData['Main_Workers___Urban____Persons'] + mergedData['Marginal_Workers___Urban____Persons'])
mergedData['Total_Rural_Workers'] = (mergedData['Main_Workers___Rural____Persons'] + mergedData['Marginal_Workers___Rural____Persons'])
mergedData['Urban_Rural_Ratio'] = mergedData['Total_Urban_Workers'] / mergedData['Total_Rural_Workers']

# Handle infinite or missing values in Gender_Ratio
mergedData['Gender_Ratio'] = np.where(
    mergedData['Total_Workers_Total_Females'] == 0,
    np.nan,  # Assign NaN where division by zero occurs
    mergedData['Total_Workers_Total_Males'] / mergedData['Total_Workers_Total_Females']
)

# Replace NaN or inf values
mergedData['Gender_Ratio'].replace([np.inf, -np.inf], np.nan, inplace=True)
mergedData['Gender_Ratio'].fillna(0, inplace=True)  # Replace NaN with 0 (or another value)
    

# Keyword-based categorization
def categorize_industry(industry):
    if any(keyword in industry for keyword in ['retail', 'trade', 'shop']):
        return 'Retail'
    elif any(keyword in industry for keyword in ['poultry', 'farming', 'agriculture']):
        return 'Agriculture'
    elif any(keyword in industry for keyword in ['manufacture', 'factory', 'production']):
        return 'Manufacturing'
    else:
        return 'Other'

In [9]:
#NLP

#clean and tokenize the text
mergedData['Cleaned_NIC_Name'] = mergedData['NIC_Name'].str.lower().apply(
        lambda x: re.sub(r'[^a-z\s]', '', str(x)))
    

# Create the stopwords set
stop_words = set(stopwords.words('english'))

# Apply tokenization and remove stopwords
mergedData['Tokens'] = mergedData['Cleaned_NIC_Name'].apply(
    lambda x: [word for word in word_tokenize(x) if word not in stop_words]
)

mergedData['Category'] = mergedData['Cleaned_NIC_Name'].apply(categorize_industry)

def getFinalDataSet():
    return mergedData

In [10]:
#checking after replace space and backticks
mergedData.head(100)

,State_Code,District_Code,States,Division,Group,Class,NIC_Name,Main_Workers___Total____Persons,Main_Workers___Total___Males,Main_Workers___Total___Females,...,Total_Workers_Total_Males,Total_Workers_Total_Females,Total_Workers,Gender_Ratio,Total_Urban_Workers,Total_Rural_Workers,Urban_Rural_Ratio,Cleaned_NIC_Name,Tokens,Category
0,08,000,STATE - RAJASTHAN,00,000,0000,Total,9017944,7594737,1423207,...,8641550,2684146,11325696,3.219478,5030311,6295385,0.799047,total,[total],Other
1,08,000,STATE - RAJASTHAN,01,000,0000,"Crop and animal production, hunting and relate...",450766,201572,249194,...,277678,581816,859494,0.477261,77367,782127,0.098919,crop and animal production hunting and related...,"[crop, animal, production, hunting, related, s...",Manufacturing
2,08,000,STATE - RAJASTHAN,01,011,0000,Growing of non-perennial crops,12876,10547,2329,...,14598,7840,22438,1.861990,8647,13791,0.627003,growing of nonperennial crops,"[growing, nonperennial, crops]",Other
3,08,000,STATE - RAJASTHAN,01,011,0111,"Growing of cereals (except rice), leguminous c...",12061,9911,2150,...,13794,7352,21146,1.876224,8174,12972,0.630126,growing of cereals except rice leguminous crop...,"[growing, cereals, except, rice, leguminous, c...",Other
4,08,000,STATE - RAJASTHAN,01,011,0112,Growing of rice,79,71,8,...,75,17,92,4.411765,33,59,0.559322,growing of rice,"[growing, rice]",Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,08,000,STATE - RAJASTHAN,10,107,0000,Manufacture of other food products,93609,78987,14622,...,90876,25130,116006,3.616236,62219,53787,1.156767,manufacture of other food products,"[manufacture, food, products]",Manufacturing
96,08,000,STATE - RAJASTHAN,10,107,1071,Manufacture of bakery products,6351,5072,1279,...,5604,2055,7659,2.727007,5334,2325,2.294194,manufacture of bakery products,"[manufacture, bakery, products]",Manufacturing
97,08,000,STATE - RAJASTHAN,10,107,1072,Manufacture of sugar,1383,1293,90,...,1388,103,1491,13.475728,1031,460,2.241304,manufacture of sugar,"[manufacture, sugar]",Manufacturing
98,08,000,STATE - RAJASTHAN,10,107,1073,"Manufacture of cocoa, chocolate and sugar conf...",35635,34471,1164,...,40913,1754,42667,23.325542,19203,23464,0.818403,manufacture of cocoa chocolate and sugar confe...,"[manufacture, cocoa, chocolate, sugar, confect...",Manufacturing
99,08,000,STATE - RAJASTHAN,10,107,1074,"Manufacture of macaroni, noodles, couscous and...",52,38,14,...,44,34,78,1.294118,52,26,2.000000,manufacture of macaroni noodles couscous and s...,"[manufacture, macaroni, noodles, couscous, sim...",Manufacturing

In [11]:
mergedData.to_csv('final_data.csv', index=False)